
STATE=dev # dev | prod
PORT=4000

FRONTEND_URL=http://localhost:3000 #only if STATE is prod

DB_PASSWORD=PlaC3h0lder
DB_NAME=ORCOMA
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres

JWT_SECRET=placeholder-secret

GOOGLE_APPLICATION_CREDENTIALS=application-credentials
GOOGLE_CLOUD_BUCKET_NAME=bucket-name
